# Airflow et ses dépendances
apscheduler==3.9.1

# Flask et email-validator pour éviter le conflit
flask-appbuilder==4.3.10

# Connectivité à la base de données PostgreSQL
psycopg2==2.9.9
sqlalchemy==1.4.51

# Bibliothèques pour la gestion de la date/heure (si nécessaire dans Airflow)
#pendulum==3.0.0

# Client API Binance pour récupérer les données des cryptomonnaies
python-binance==1.0.19

# Bibliothèques pour la manipulation des données
#pandas==2.0.3
#numpy==1.24.4

# Bibliothèque de machine learning
scikit-learn==1.2.2

# Framework Web & FastAPI pour créer l'API
fastapi==0.103.0
uvicorn==0.18.3

# Bibliothèques pour les graphiques
plotly==5.10.0
dash==2.7.0
