# Bibliothèques pour la manipulation des données
pandas==1.5.3
numpy==1.24.2

# Bibliothèque de machine learning
scikit-learn==1.2.2

# Connectivité à la base de données PostgreSQL (si le modèle doit interagir avec une base de données)
psycopg2==2.9.9
sqlalchemy>=1.4.28,<2.0

# Bibliothèques pour les graphiques ou visualisation, si nécessaire
matplotlib==3.7.1
plotly==5.10.0

# Bibliothèque pour gérer le temps ou la planification (si nécessaire)
apscheduler==3.9.1

# WebSocket pour le streaming des données Binance (si tu utilises des flux de données pour l'entraînement)
websockets==10.3
